<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    {% load static %}
    {% include "adminHeader.html" %}


</head>
<body>

<div class="container-fluid" id="main" align="center">
    {% include "adminHead.html" %}
    <div id="seconddiv">
        {% include "adminTemplate.html" %}
        <div class="row" style="width: 100%">
            <div class="col-sm-2">
                <table class="table">
                    <tr>
                        <td><a href="subscriptions">Subscriptions</a></td>
                    </tr>
                    <tr>
                        <td><a href="invoiceDetails">Invoice Details</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-10" align="left">
                <div style="overflow: auto;width: 100%; height: 60vh;min-width: 450px;">
                    <table class="table" style="text-align: center">

                        <tr>
                            <th>Bill ID</th>
                            <th>Email</th>
                            <th>Subscription ID</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Card Number</th>
                            <th>Card Expiry</th>
                        </tr>
                        {% for element1 in br %}
                            <tr>
                                <td>{{ element1.bid }}</td>
                                <td>{{ element1.email }}</td>
                                <td>{{ element1.subid }}</td>
                                <td>{{ element1.date }}</td>
                                <td>{{ element1.amount }}</td>
                                <td>{{ element1.cardno }}</td>
                                <td>{{ element1.cardexp }}</td>
                            </tr>
                        {% endfor %}


                    </table>
                </div>
                <div style="margin-top: 5px">
                    <h6> User Email :{{ ar.email }}</h6>
                    <h6>User Name: {{ ar.name }}</h6>
                    <h6>Mobile: {{ ar.mobile }}</h6>
                    <h6>Subscription Type: {{ ar.type }}</h6>

                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>