<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    {% include "adminHeader.html" %}
    {% load static %}
    <script src="{% static "jquery-3.5.0.min.js" %}"></script>
    <script src="{% static "dist/jquery.validate.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            $("#search").keyup(function () {
                var x = $(this).val().toLowerCase();

                $('#usertable tr').filter(function () {
                    $(this).toggle($(this).children(".name").text().toLowerCase().indexOf(x) > -1)
                })
            })
        })
    </script>


</head>
<body>

<div class="container-fluid" id="main" align="center">
    {% include "adminHead.html" %}
    <div id="seconddiv" style="opacity: 97%">
        {% include "adminTemplate.html" %}
        <div align="center" style="margin: 10px 30px">


            <div style="width: 85%; margin-top: 20px">
                <div class="row">
                    <div class="col-sm-9">
                        <h3 style="text-align: left;margin-bottom: 20px">Users Details</h3>

                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="search" placeholder="Search User" class="form-control">

                    </div>
                </div>
                <table  class="table">
                    <tr>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>Type</th>

                    </tr>
                <tbody id="usertable">
                    {% for element in ar %}
                        <tr>
                            <td>{{ element.email }}</td>
                            <td class="name">{{ element.name }}</td>
                            <td>{{ element.mobile }}</td>
                            <td>{{ element.type }}</td>
                            <td style="display:none;" id="{{ element.email }}">{{ element.password }}</td>
                            {% if element.type != "Blocked" %}
                                <td><a class="btn btn-outline-dark"
                                       href="changeUserStatus?q=Block&z={{ element.email }}">&nbsp&nbspBlock&nbsp&nbsp&nbsp</a>
                                </td>
                            {% else %}
                                <td><a class="btn btn-outline-info"
                                       href="changeUserStatus?q=Unblock&z={{ element.email }}">Unblock</a></td>

                            {% endif %}

                        </tr>
                    {% endfor %}
                </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
</body>
</html>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="color: black">Add New Admin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                {% csrf_token %}
                <div class="form-group">
                    Email
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    Name
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    Mobile
                    <input type="text" class="form-control" id="mobile" maxlength="10">
                </div>
                <div class="form-group">
                    Password
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="form-group">
                    Type
                    <select class="form-control" id="type">
                        <option>Admin</option>
                        <option>SuperAdmin</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Admin" onclick="addAdmin()" class="btn btn-success">
                </div>
                </form>


            </div>
            <div class="modal-footer">
                <div id="msg" class="mr-auto" style="color: #0f78af"></div>
            </div>

        </div>
    </div>
</div>

